body{
    margin: 0;
    padding: 0;
}

#flipbook{
    position: fixed;
    top: 100px;
    width: fit-content;
    height: auto;
}

#waypoint-list li{
    margin-bottom: 300px; /* increase or decrease this spacing to change the playback speed */
    /*opacity: 0;*/
}

.spacer{
    height: 600px;
}